<h1 class="headerTitle">Contracten <small>Overzicht van contracten </small></h1>
<div class="small-12 columns">
	<input type="text" class="form-control" placeholder="Klant zoeken" ng-model="searchCustomer">
<!-- 	<button class="right small" ng-click="makeCSV()">download CSV</button> -->
<button class="small right" ng-csv="getArray()" filename="test.csv">Export CSV</button>
	<div class="panel" id="contracttable">
		<table class="table table-bordered table-striped">
		<tr>
			<th>id</th>
			<th>
				<a ng-click="sortType = 'klant'; sortReverse = !sortReverse">
		            Klant
		            <span ng-show="sortType == 'klant' && !sortReverse" class="fa fa-caret-down"></span>
		            <span ng-show="sortType == 'klant' && sortReverse" class="fa fa-caret-up"></span>
		          </a>
      		</th>
      		<th>
				<a ng-click="sortType = 'klant'; sortReverse = !sortReverse">
		            Kenteken
		            <span ng-show="sortType == 'klant' && !sortReverse" class="fa fa-caret-down"></span>
		            <span ng-show="sortType == 'klant' && sortReverse" class="fa fa-caret-up"></span>
		          </a>
      		</th>
			<th>
				<a ng-click="sortType = 'container_name'; sortReverse = !sortReverse">
		            Container
		            <span ng-show="sortType == 'container_name' && !sortReverse" class="fa fa-caret-down"></span>
		            <span ng-show="sortType == 'container_name' && sortReverse" class="fa fa-caret-up"></span>
		          </a>
      		</th>
			
			<th>
				<a ng-click="sortType = 'start_date'; sortReverse = !sortReverse">
		            Start Datum
		            <span ng-show="sortType == 'start_date' && !sortReverse" class="fa fa-caret-down"></span>
		            <span ng-show="sortType == 'start_date' && sortReverse" class="fa fa-caret-up"></span>
		          </a>
      		</th>
			<th>
				<a ng-click="sortType = 'end_date'; sortReverse = !sortReverse">
		            Eind Datum
		            <span ng-show="sortType == 'end_date' && !sortReverse" class="fa fa-caret-down"></span>
		            <span ng-show="sortType == 'end_date' && sortReverse" class="fa fa-caret-up"></span>
		          </a>
      		</th>
      		<th>
				<a ng-click="sortType = 'differenceDate()'; sortReverse = !sortReverse">
		            Resterende Dagen
		            <span ng-show="sortType == 'differenceDate()' && !sortReverse" class="fa fa-caret-down"></span>
		            <span ng-show="sortType == 'differenceDate()' && sortReverse" class="fa fa-caret-up"></span>
		          </a>
      		</th>
			<th>
				<a ng-click="sortType = 'invoiceno'; sortReverse = !sortReverse">
		            FactuurStatus
		            <span ng-show="sortType == 'invoiceno' && !sortReverse" class="fa fa-caret-down"></span>
		            <span ng-show="sortType == 'invoiceno' && sortReverse" class="fa fa-caret-up"></span>
		          </a>
      		</th>
			<th>Actie</th>
		</tr>
		<tr class="" ng-repeat="x in container | orderBy:sortType:sortReverse | filter:searchCustomer">
		    <td>{{ x.id }}</td>
		    <td>{{ x.fname }} {{ x.lname }} - {{ x.company }}</td>
		    <td class="kenteken">{{ x.kenteken }}</td>
		    <td>{{ x.name }} > {{ x.container_department}} > {{ x.place_name }} </td>
		    <td>{{ x.start_date }}</td>
		    <td>{{ x.end_date }}</td>
		    <td>{{ differenceDate(x.start_date, x.end_date)}} </td>
		    <td ng-bind-html="invoicestatus(x.invoiceno)"></td>

		    <td><a href="#/contracts/{{x.id}}" class="button button-action button-pill"> Bekijk </a></td>
		</tr>
		</table>
	</div>
</div>