{{idContainer}}
<div style="min-height: 400px;" class="small-12 columns">

	<div ng-repeat="(key, value) in places | groupBy: 'container_department'" class="small-3 columns">
		<div class="button button-block button-rounded button-large depTitle">{{key}}</div>
		<table>
			<tr>
				<th>ID</th>
				<th>Plaats</th>
				<th>Contract_ID</th>
				<th>Status</th>
			</tr>
			<tr ng-repeat="place in value" class="zebra animate-repeat {{occupy(place.contracts_id)}}">
				<td >{{place.id}}</td>
				<td>{{place.place_name}}</td>
				<td>{{place.contracts_id}}</td>
				<td>{{occupy(place.contracts_id)}}</td>
			</tr>
		</table>
		<input type="text">
	</div>	
<a class="button button-3d button-action button-pill">Voeg afdeling!</a>
</div>