<!-- {{idContainer}} -->
<div style="min-height: 400px;" class="small-12 columns">

	<div ng-repeat="(key, value) in places | groupBy: 'container_department'" class="small-12 medium-4  columns">
		<div class="button button-block button-rounded button-large depTitle">{{key}}</div>
		<table>
			<tr>
				<th>ID</th>
				<th>Plaats</th>
				<th>Contract_ID</th>
				<th>Status</th>
			</tr>
			<tr ng-repeat="place in value" class="zebra animate-repeat {{occupy(place.contracts_id)}}">
				<td >{{place.id}}</td>
				<td>{{place.place_name}}</td>
				<td><a href="#/contracts/{{place.contracts_id}}">{{place.contracts_id}}. {{place.company}} {{place.fname}}{{place.lname}}</a></td>
				<td>{{occupy(place.contracts_id)}}</td>
			</tr>
		</table>
		<!-- <input type="text"> -->
	</div>	
	<!-- <a class="button button-3d button-action button-pill">Voeg afdeling!</a> -->
</div>
<div style="min-height: 400px;" class="small-12 columns panel">
	<span>Verwijder container </span>	<a ng-click="deleteContainer()" class="button button-3d button-caution button-pill">Vewijder Container!</a>
</div>