<!-- {{idContainer}} -->
<div style="min-height: 400px;" class="small-12 columns">

	<div ng-repeat="(key, value) in places | groupBy: 'container_department'" class="small-12 medium-4  columns containerCon">
		<div class="text-center button-block button-rounded button-large depTitle" style="padding: 0 10px">{{key}} <span ng-click="removeContainer(key)" class="right"><i class="fa fa-times"></i></span></div>
		<table>
			<tr>
				<th>Plaats</th>
				<th>Klant</th>
				<th>Kenteken</th>
				<th>Status</th>
			</tr>
			<tr ng-repeat="place in value" class="zebra animate-repeat {{occupy(place.contracts_id)}}">
				<td>{{place.place_name}}</td>
				<td><a href="#/contracts/{{place.contracts_id}}">{{place.fname}} {{place.lname}}</a></td>
				<td>{{place.kenteken}}</td>
				<td>{{occupy(place.contracts_id)}}</td>
			</tr>
		</table>		
		<!-- <input type="text"> -->
	</div>
	<button ng-click="addSegment()">+</button>
	<button class="button button-3d button-action button-pill" ng-click="saveSegments()">Save</button>	
	<!-- <a >Voeg afdeling!</a> -->
</div>
<div style="min-height: 400px;" class="small-12 columns panel">
	<span>Verwijder container </span>	<a ng-click="deleteContainer()" class="button button-3d button-caution button-pill">Vewijder Container!</a>
</div>