<div class="small-12 columns">
	<h1>Klant Informatie</h1>
	<div class="panel">
		<table width="100%">
			<tr>
				<td>Bedrijf</td>
				<td>{{company}}</td>
			</tr>
			<tr>
				<td>Voornaam</td>
				<td>{{customerInfo.fname}}</td>
			</tr>
			<tr>
				<td>Achternaam</td>
				<td>{{customerInfo.lname}}</td>
			</tr>
			<tr>
				<td>Kenteken</td>
				<td class="kenteken">{{customerInfo.kenteken}}</td>
			</tr>
			<tr>
				<td>Merk</td>
				<td>{{customerInfo.merk}}</td>
			</tr>
			<tr>
				<td>Tel</td>
				<td><a href="tel:{{customerInfo.tel}}">{{customerInfo.tel}}</a></td>
			</tr>
			<tr>
				<td>E-mail</td>
				<td><a href="mailto:info@dummymail.nl">info@dummymail.nl</a></td>
			</tr>
			<tr>
				<td>Reg.Datum</td>
				<td>{{customerInfo.regdate}}</td>
			</tr>
			<tr>
				<td><button class="radius tiny button">Bewerken</button></td>
				<td></td>
			</tr>

		</table>
		<!-- <input type="file" accept="image/*;capture=camera"> -->
		<h2>Producten Geschiedenis</h2>
	</div>
</div>

<div class="col-12-xs">
	<div class="col-6-xs">
		<div class="col-6-xs">
			
		</div>
	</div>
</div>
