<h1 class="headerTitle">Klantenbestand <small>Overzicht van klanten </small></h1>
<div class="small-12 columns customerPage">
	<div class="panel">
		<h2>Klantgegevens</h2>
		<div ng-show="customerEditedSuccesfully" data-alert class="alert-box success radius">
		Klant is succesvol gewijzigd.<a href="#" class="close">&times;</a>
		</div>
		<table width="100%">
			<tr>
				<td>Bedrijf</td>
				<td><span>{{company}}</span> <input type="text" ng-model="company" value="{{company}}"></td>
			</tr>
			<tr>
				<td>Voornaam</td>
				<td><span>{{fname}}</span> <input type="text" ng-model="fname" value="{{fname}}"></td>
			</tr>
			<tr>
				<td>Achternaam</td>
				<td><span>{{lname}}</span> <input type="text" ng-model="lname" value="{{lname}}"></td>
			</tr>

			<tr>
				<td>Merk</td>
				<td><span>{{merk}} </span><input type="text" ng-model="merk" value="{{merk}}"></td>
			</tr>
			<tr>
				<td>Tel</td>
				<td><span><a href="tel:{{tel}}">{{tel}}</a></span> <input type="text" ng-model="tel" value="{{tel}}"></td>
			</tr>
			<tr>
				<td>E-mail</td>
				<td><span><a href="mailto:{{email}}">{{email}}</a></span> <input type="text" ng-model="email" value="{{email}}"></td>
			</tr>
			<tr>
				<td>Reg.Datum</td>
				<td>{{customerInfo.regdate}}</td>
			</tr>
			<tr>
				<td>
					<button ng-click="editCustomer()" class="editCustomer rbutton button-highlight button-rounded button-small">Bewerken</button>
					
				</td>
				<td>
					<button class="saveCustomer button-action button-rounded button-small" ng-click="saveCustomeredit()">Opslaan</button>
					<button class="cancelCustomer button-caution button-rounded button-small" ng-click="cancelCustomeredit()">Cancel</button>
					<button class="cancelCustomer button-caution button-rounded button-small right" ng-click="removeCustomer(customerInfo.id)">Verwijder Klant</button>

				</td>
			</tr>

		</table>
		<!-- <input type="file" accept="image/*;capture=camera"> -->
		
	</div>


	<div class="col-12-xs">
		<div class="panel">
			<h2>Producten Geschiedenis</h2>
			<table class="table table-bordered table-striped">
				<tr>
					<th>id</th>
					<th>
						<a ng-click="sortType = 'klant'; sortReverse = !sortReverse">
							Klant
							<span ng-show="sortType == 'klant' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortType == 'klant' && sortReverse" class="fa fa-caret-up"></span>
						</a>
					</th>
					<th>
						<a ng-click="sortType = 'container_name'; sortReverse = !sortReverse">
							Container
							<span ng-show="sortType == 'container_name' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortType == 'container_name' && sortReverse" class="fa fa-caret-up"></span>
						</a>
					</th>
					<th>
						<a ng-click="sortType = 'place_name'; sortReverse = !sortReverse">
							Positie
							<span ng-show="sortType == 'place_name' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortType == 'place_name' && sortReverse" class="fa fa-caret-up"></span>
						</a>
					</th>
					<th>
						<a ng-click="sortType = 'start_date'; sortReverse = !sortReverse">
							Start Datum
							<span ng-show="sortType == 'start_date' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortType == 'start_date' && sortReverse" class="fa fa-caret-up"></span>
						</a>
					</th>
					<th>
						<a ng-click="sortType = 'end_date'; sortReverse = !sortReverse">
							Eind Datum
							<span ng-show="sortType == 'end_date' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortType == 'end_date' && sortReverse" class="fa fa-caret-up"></span>
						</a>
					</th>
					<th>
						<a ng-click="sortType = 'restDagen'; sortReverse = !sortReverse">
							Resterende Dagen
							<span ng-show="sortType == 'end_date' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortType == 'end_date' && sortReverse" class="fa fa-caret-up"></span>
						</a>
					</th>
					<th>Medewerker</th>
					<th>Actie</th>
				</tr>
				<tr ng-repeat="x in contracts | orderBy:sortType:sortReverse | filter:searchCustomer">
					<td>{{ x.id }}</td>
					<td>{{ x.company }}</td>
					<td>{{ x.name }}</td>
					<td>{{ x.container_contents_id }}</td>
					<td>{{ x.start_date }}</td>
					<td>{{ x.end_date }}</td>
					<td>{{ differenceDate(x.start_date, x.end_date)}}</td>
					<td>{{ x.username }}</td>

					<td><a href="#/contracts/{{x.id}}" class="button button-action button-rounded"> Bekijk </a></td>
				</tr>
			</table>
		</div>
	</div>
</div>
