<h1 class="headerTitle">Dashboard <small>Welkom {{userName}}, Dashboard & statistieken </small></h1>
<div class="small-12 columns dashboard">
	<div class="row" data-equalizer>
		<div class="small-12 medium-6 columns">
			<div class="small-12 columns panel">
				<h2>Nieuwe Klanten</h2>
				<table class="no-bullet">
					<tr>
						<th>Naam</th>
						<th>Date</th>
					</tr>
					<tr ng-repeat="x in customerSort">
						<td><a href="/#/customers/{{x.id}}">{{x.fname}} {{x.lname}} - {{x.company}}</a></td>
						<td>{{x.date}}</td>
					</tr>
				</table>
				<div class="text-center smalltext"><a href="/#/customers">Bekijk klanten</a></div>
			</div>
		</div>
		<div class="small-12 medium-6 columns">
			<div class="small-12 columns panel">
				<h2>Nog te factureren</h2>
				<table class="no-bullet">
					<tr>
						<th>Company</th>
						<th>Contract Date</th>
						<th>Status</th>
					</tr>
					<tr ng-repeat="x in invoiceSort">
						<td><a href="/#/customers/{{x.customerid}}">{{x.fname}} {{x.lname}} - {{x.company}}</a></td>
						<td>{{x.date}} </td>
						<td><span class="warning label">Nog te factureren</span></td>
					</tr>
				</table>
				<div class="text-center smalltext"><a href="/#/contracts">Bekijk contracten</a></div>
			</div>
		</div>
		<div class="small-12 medium-6 columns">
			<div class="small-12 columns panel">
				<h2>Banden met lage profiel<br><small>Banden onder 1.0 profiel</small></h2>
				<table class="no-bullet">
					<tr>
						<th>Klant</th>
						<th>LV</th>
						<th>RV</th>
						<th>RA</th>
						<th>LA</th>
					</tr>
					<tr ng-repeat="x in sortLowProfile">
						<td><a href="/#/customers/{{x.id}}">{{x.fname}} {{x.lname}}</a></td>
						<td class="{{tireProfile(x.LV_profile)}} tireprofile">{{x.LV_profile}}</td>
						<td class="{{tireProfile(x.RV_profile)}} tireprofile">{{x.RV_profile}}</td>
						<td class="{{tireProfile(x.RA_profile)}} tireprofile">{{x.RA_profile}}</td>
						<td class="{{tireProfile(x.LA_profile)}} tireprofile">{{x.LA_profile}}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="small-12 medium-6 columns">
			<div class="small-12 columns panel">
				<h2>Vrijplaatsen in Containers</h2>
				<table>
					<tr>
						<th>Container</th>
						<th>Vrijplaatsen</th>
					</tr>
					<tr ng-repeat="x in containerSort">
						<td><a href="/#/storage-management/{{x.id}}">{{x.id}}. {{x.name}}</a></td>
						<td><span class="success label">{{x.free}}</span></td>
						
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
</div>