<h1 class="headerTitle">Nieuw Contract <small>Contract maken voor bandenopslag</small></h1>

<div class="panel">
	<h1>Contract Maken</h1>
	<div class="clearfix">
		<h2>Bedrijf</h2>
		{{chosenCustomer}}<button data-reveal-id="SelectCustomer" class"button button-3d button-action button-pill"><i class="fa fa-user-plus"></i>Toevoegen</button>
	</div>
	<div class="clearfix">
		<h2>Sezoen</h2>
		<ul class="button-group round toggle" data-toggle="buttons-radio">
			<li>
				<input type="radio" id="r1" name="sezoen" data-toggle="button" value="zomer">
				<label class="button" for="r1">Zomer</label>
			</li>
			<li>
				<input type="radio" id="r2" name="sezoen" data-toggle="button" value="winter">
				<label class="button" for="r2">Winter</label>
			</li>
			<li>
				<input type="radio" id="r3" name="sezoen" data-toggle="button" value="allsezoen">
				<label class="button" for="r3">All Sezoen</label>
			</li>
		</ul>
	</div>
	<div class="clearfix">
		<h2>FlatRun banden</h2>
		<div class="small-12 columns">
			<switch id="enabled" name="enabled" ng-model="flatrun" class="green"></switch>
		</div>
	</div>
	<div class="clearfix">
		<h2>Velg</h2>
		<div class="small-12 columns">
			<switch id="enabled" name="enabled" ng-model="velg" class="green"></switch>
		</div>
	</div>
	<div class="clearfix">
	</div>
	<div class="clearfix">
	</div>
	<div class="clearfix">
	</div>
</div>