<h1 class="headerTitle">Storage <small>Opslagruimte van banden </small></h1>

<div class="small-12 columns">
	<div class="panel">
		<p>
		<label>Container</label>
			<input type="radio" name="container" value="alles" id="alles"><label for="alles">Alles</label>
			<input type="radio" name="container" value="containerC1" id="containerC1"><label for="containerC1">Container C1</label>
			<input type="radio" name="container" value="containerC2" id="containerC2"><label for="containerC2">Container C2</label>
			<input type="radio" name="container" value="containerC4" id="containerC3"><label for="containerC3">Container C3</label>
		</select>
		<label>Vertoon</label>
      		<input type="radio" name="show" value="alles" id="alles"><label for="alles">Alles</label>
     		<input type="radio" name="show" value="Lege plaatsen" id="legeplaatsen"><label for="legeplaatsen">Lege Plaatsen</label>
     		<input type="radio" name="show" value="Lege plaatsen" id="bezetteplaatsen"><label for="bezetteplaatsen">Bezette Plaatsen</label>
		</p>

		<ul class="pagination">
  <li class="arrow unavailable"><a href="">&laquo;</a></li>
  <li class="current"><a href="">1</a></li>
  <li><a href="">2</a></li>
  <li><a href="">3</a></li>
  <li><a href="">4</a></li>
  <li class="unavailable"><a href="">&hellip;</a></li>
  <li><a href="">12</a></li>
  <li><a href="">13</a></li>
  <li class="arrow"><a href="">&raquo;</a></li>
</ul>
		<table width="100%">
		<tr>
			<th>id</th>
			<th>Klant</th>
			<th>Cointainer</th>
			<th>Positie</th>
			<th>Start Datum</th>
			<th>Eind Datum</th>
			<th>Medewerker</th>
			<th>Actie</th>
		</tr>
		<tr ng-repeat="x in container" class="pagination">
		    <td>{{ x.id }}</td>
		    <td><a href="#/customers/{{ x.customer_id }}">{{ x.company }}</td>
		    <td>{{ x.name }}</td>
		    <td>{{ x.place_name }}</td>
		    <td>{{ x.start_date }}</td>
		    <td>{{ x.end_date }}</td>
		    <td>{{x.employer}}</td>
		    <td><a href="#/contracts/{{ x.contract_id}}" class="round tiny button succes">Bekijk</a></td>
		</tr>
		</table>
	</div>
</div>