<h1 class="headerTitle">Storage Management <small>Overzicht van opslagplaatsen</small></h1>

<div class="small-12 columns">
	<div class="">
		<h2>Containers</h2>
		<ul class="inline-list">
			<li class="panel container" ng-repeat="container in containers">
				<div class="containerTitle">{{container.name}}</div>
				<div class="clearfix" style="height: 80px">	
					<b>Plaatsen: {{container.places}}</b><br>
					<b>Vrij: {{container.free}}</b><br>
				</div>
				<div class="clearfix" style="background-color: #F9F9F9; padding: 20px 0;">
					<a href="#/storage-management/{{ container.id }}" class="button button-highlight">Bekijk</a>
				</div>
				<!-- <div class="containerColor"></div> -->
			</li>
			<li class="addcontainerButton">{{container.name}} <br><a data-reveal-id="firstModal" class="button button-3d button-primary button-rounded succes"> Toevoegen</a></li>
		</ul>
			<button ng-click="refreshContainer()">Refresh Containers</button>

	</div>
</div>