<div class="small-12 columns">
	<h1>Storage Management</h1>
	<div class="panel">
		<ul class="inline-list">
			<li class="container" ng-repeat="container in containers">
				{{container.name}} <br>
				<b>Plaatsen: {{container.places}}</b><br>
				<b>Vrij: {{container.free}}</b><br>
				<a href="#/storage-management/{{ container.id }}" class="button button-3d button-royal" style="display: inline;">Bekijk</a>
				<div class="containerColor"></div>
			</li>
			<li class="addcontainerButton">{{container.name}} <br><a data-reveal-id="firstModal" class="button button-3d button-primary button-rounded succes">Toevoegen</a></li>
		</ul>
	</div>
		
</div>