<h1 class="headerTitle">Banden <small>Bandenprofielen overzicht</small></h1>

<div class="small-12 columns banden">
	<input type="text" class="form-control" placeholder="Klant, merk, sezoen, profiel zoeken" ng-model="searchCustomer">
	<div class="panel">
		<table class="table table-bordered table-striped">
		<tr>
			<th>id</th>
			<th>
				<a ng-click="sortType = 'klant'; sortReverse = !sortReverse">
		            Klant
		            <span ng-show="sortType == 'klant' && !sortReverse" class="fa fa-caret-down"></span>
		            <span ng-show="sortType == 'klant' && sortReverse" class="fa fa-caret-up"></span>
		          </a>
      		</th>
      		<th>
      			Pos.
      		</th>
			<th>
				<a ng-click="sortType = 'container_name'; sortReverse = !sortReverse">
		            Profiel
		            <span ng-show="sortType == 'container_name' && !sortReverse" class="fa fa-caret-down"></span>
		            <span ng-show="sortType == 'container_name' && sortReverse" class="fa fa-caret-up"></span>
		          </a>
      		</th>
			<th>
				<a ng-click="sortType = 'place_name'; sortReverse = !sortReverse">
		            Merk
		            <span ng-show="sortType == 'place_name' && !sortReverse" class="fa fa-caret-down"></span>
		            <span ng-show="sortType == 'place_name' && sortReverse" class="fa fa-caret-up"></span>
		          </a>
      		</th>
			<th>
				<a ng-click="sortType = 'start_date'; sortReverse = !sortReverse">
		            Type
		            <span ng-show="sortType == 'start_date' && !sortReverse" class="fa fa-caret-down"></span>
		            <span ng-show="sortType == 'start_date' && sortReverse" class="fa fa-caret-up"></span>
		          </a>
      		</th>
			<th>
				<a ng-click="sortType = 'end_date'; sortReverse = !sortReverse">
		            Bandformaat
		            <span ng-show="sortType == 'end_date' && !sortReverse" class="fa fa-caret-down"></span>
		            <span ng-show="sortType == 'end_date' && sortReverse" class="fa fa-caret-up"></span>
		          </a>
      		</th>
      		<th>Sezoen</th>
			<th>Flatrun</th>
			<th>Velg</th>
		</tr>
		<tr ng-repeat="x in banden | orderBy:sortType:sortReverse | filter:searchCustomer">
		    <td>{{ x.id }}</td>
		    <td>{{ x.fname }} {{ x.lname }} {{ x.company }}</td>
		    <td>LV<br>
		    	RV<br>
		    	LA<br>
		    	RA
		   	</td>
		    <td>
		    	<div class="{{ tireProfile(x.LV_profile) }}">{{x.LV_profile}}</div>
		    	<div class="{{ tireProfile(x.RV_profile) }}">{{x.RV_profile}}</div>
		    	<div class="{{ tireProfile(x.LA_profile) }}">{{x.LA_profile}}</div>
		    	<div class="{{ tireProfile(x.RA_profile) }}">{{x.RA_profile}}</div>
		   	</td>
		   	<td>{{ x.LV_brand }}<br>
		    	{{ x.RV_brand }}<br>
		    	{{ x.LA_brand }}<br>
		    	{{ x.RA_brand }}
		   	</td>
		    <td>{{ x.LV_type }}<br>
		    	{{ x.RV_type }}<br>
		    	{{ x.LA_type }}<br>
		    	{{ x.RA_type }}
		   	</td>
		    <td>{{ x.LV_tiresize }}<br>
		    	{{ x.RV_tiresize }}<br>
		    	{{ x.LA_tiresize }}<br>
		    	{{ x.RA_tiresize }}
		   	</td>
		    <td ng-bind-html="sezon(x.sezon)">{{ x.sezon }}</td>
		    <td>{{ YesNo(x.flatrun) }}</td>
		    <td>{{ YesNo(x.velg) }}</td>

		    <td><a href="#/contracts/{{x.id}}" class="round tiny button succes"> Bekijk </a></td>
		</tr>
		</table>
	</div>
</div>