<div id="tirelabels" class="small-12 columns" ng-repeat="x in banden">
	<!-- LinksVoor -->
	<div class="small-6 columns">
		<div class="panel tirelabel">
			<div class="small-6 columns">
				<div class="borderline">
				BMW SPECIALIST
				</div>
				<div class="borderline">
					<h2>Kenteken</h2>
					<td>{{x.kenteken}}</td>
				</div>
				<div class="borderline">
					<h2>MagazijnLocatie</h2>
					<h3>{{x.container_department}} > {{x.container_contents_id}} </h3>
				</div>
				<div class="borderline">
					<h2>Bandenpositie</h2>
					<h3>LV</h3>
				</div>
				<div class="borderline">
					<h2>Soort Opslag:</h2> 
					<h3>{{x.sezon}}</h3>
				</div>
				<div class="borderline">
					<h2>Datum Inname:</h2>
					<h3>{{x.start_date}}</h3>
				</div>
			</div>
			<div class="small-6 columns">
				<table>
					<tr>
						<th colspan="2">Bandgegevens</td>
					</tr>
					<tr>
						<td>Merk</td>
						<td>{{x.LV_brand}}</td>
					</tr>
					<tr>
						<td>Maat</td>
						<td>{{x.LV_tiresize}}</td>
					</tr>
					<tr>
						<td>Type</td>
						<td>{{x.LV_type}}</td>
					</tr>
					<tr>
						<td>Opmerk.</td>
						<td>{{x.comment}}</td>
					</tr>
				</table>

				<table>
					<tr>
						<th colspan="2">Klantgegevsn</td>
					</tr>
					<tr>
						<td>Bedrijf</td>
						<td>{{x.company}}</td>
					</tr>
					<tr>
						<td>Naam</td>
						<td>{{x.fname}} {{x.lname}}</td>
					</tr>
					<tr>
						<td>Adres</td>
						<td>{{x.comment}}</td>
					</tr>
					<tr>
						<td>Telefoon</td>
						<td>{{x.tel}}</td>
					</tr>
				</table>

			</div>
			<div class="small-12 columns">
				website: www.sayar.nl | email: info@sayar.nl
			</div>
		</div>
	</div>
	<!-- End LinksVoor -->
	<!-- RechtsVoor -->
	<div class="small-6 columns">
		<div class="panel tirelabel">
			<div class="small-6 columns">
				<div class="borderline">
				BMW SPECIALIST
				</div>
				<div class="borderline">
					<h2>Kenteken</h2>
					<td>{{x.kenteken}}</td>
				</div>
				<div class="borderline">
					<h2>MagazijnLocatie</h2>
					<h3>{{x.container_department}} > {{x.container_contents_id}} </h3>
				</div>
				<div class="borderline">
					<h2>Bandenpositie</h2>
					<h3>RV</h3>
				</div>
				<div class="borderline">
					<h2>Soort Opslag:</h2> 
					<h3>{{x.sezon}}</h3>
				</div>
				<div class="borderline">
					<h2>Datum Inname:</h2>
					<h3>{{x.start_date}}</h3>
				</div>
			</div>
			<div class="small-6 columns">
				<table>
					<tr>
						<th colspan="2">Bandgegevens</td>
					</tr>
					<tr>
						<td>Merk</td>
						<td>{{x.RV_brand}}</td>
					</tr>
					<tr>
						<td>Maat</td>
						<td>{{x.RV_tiresize}}</td>
					</tr>
					<tr>
						<td>Type</td>
						<td>{{x.RV_type}}</td>
					</tr>
					<tr>
						<td>Opmerk.</td>
						<td>{{x.comment}}</td>
					</tr>
				</table>

				<table>
					<tr>
						<th colspan="2">Klantgegevsn</td>
					</tr>
					<tr>
						<td>Bedrijf</td>
						<td>{{x.company}}</td>
					</tr>
					<tr>
						<td>Naam</td>
						<td>{{x.fname}} {{x.lname}}</td>
					</tr>
					<tr>
						<td>Adres</td>
						<td>{{x.comment}}</td>
					</tr>
					<tr>
						<td>Telefoon</td>
						<td>{{x.tel}}</td>
					</tr>
				</table>

			</div>
			<div class="small-12 columns">
				website: www.sayar.nl | email: info@sayar.nl
			</div>
		</div>
	</div>
	<!-- End RechstVoor -->

		<!-- LinksAchter -->
	<div class="small-6 columns">
		<div class="panel tirelabel">
			<div class="small-6 columns">
				<div class="borderline">
				BMW SPECIALIST
				</div>
				<div class="borderline">
					<h2>Kenteken</h2>
					<td>{{x.kenteken}}</td>
				</div>
				<div class="borderline">
					<h2>MagazijnLocatie</h2>
					<h3>{{x.container_department}} > {{x.container_contents_id}} </h3>
				</div>
				<div class="borderline">
					<h2>Bandenpositie</h2>
					<h3>LA</h3>
				</div>
				<div class="borderline">
					<h2>Soort Opslag:</h2> 
					<h3>{{x.sezon}}</h3>
				</div>
				<div class="borderline">
					<h2>Datum Inname:</h2>
					<h3>{{x.start_date}}</h3>
				</div>
			</div>
			<div class="small-6 columns">
				<table>
					<tr>
						<th colspan="2">Bandgegevens</td>
					</tr>
					<tr>
						<td>Merk</td>
						<td>{{x.LA_brand}}</td>
					</tr>
					<tr>
						<td>Maat</td>
						<td>{{x.LA_tiresize}}</td>
					</tr>
					<tr>
						<td>Type</td>
						<td>{{x.LA_type}}</td>
					</tr>
					<tr>
						<td>Opmerk.</td>
						<td>{{x.comment}}</td>
					</tr>
				</table>

				<table>
					<tr>
						<th colspan="2">Klantgegevens</td>
					</tr>
					<tr>
						<td>Bedrijf</td>
						<td>{{x.company}}</td>
					</tr>
					<tr>
						<td>Naam</td>
						<td>{{x.fname}} {{x.lname}}</td>
					</tr>
					<tr>
						<td>Adres</td>
						<td>{{x.comment}}</td>
					</tr>
					<tr>
						<td>Telefoon</td>
						<td>{{x.tel}}</td>
					</tr>
				</table>

			</div>
			<div class="small-12 columns">
				website: www.sayar.nl | email: info@sayar.nl
			</div>
		</div>
	</div>
	<!-- End LinksVoor -->
	<!-- RechtsAchter -->
	<div class="small-6 columns">
		<div class="panel tirelabel">
			<div class="small-6 columns">
				<div class="borderline">
				BMW SPECIALIST
				</div>
				<div class="borderline">
					<h2>Kenteken</h2>
					<td>{{x.kenteken}}</td>
				</div>
				<div class="borderline">
					<h2>MagazijnLocatie</h2>
					<h3>{{x.container_department}} > {{x.container_contents_id}} </h3>
				</div>
				<div class="borderline">
					<h2>Bandenpositie</h2>
					<h3>RA</h3>
				</div>
				<div class="borderline">
					<h2>Soort Opslag:</h2> 
					<h3>{{x.sezon}}</h3>
				</div>
				<div class="borderline">
					<h2>Datum Inname:</h2>
					<h3>{{x.start_date}}</h3>
				</div>
			</div>
			<div class="small-6 columns">
				<table>
					<tr>
						<th colspan="2">Bandgegevens</td>
					</tr>
					<tr>
						<td>Merk</td>
						<td>{{x.RA_brand}}</td>
					</tr>
					<tr>
						<td>Maat</td>
						<td>{{x.RA_tiresize}}</td>
					</tr>
					<tr>
						<td>Type</td>
						<td>{{x.RA_type}}</td>
					</tr>
					<tr>
						<td>Opmerk.</td>
						<td>{{x.comment}}</td>
					</tr>
				</table>

				<table>
					<tr>
						<th colspan="2">Klantgegevens</td>
					</tr>
					<tr>
						<td>Bedrijf</td>
						<td>{{x.company}}</td>
					</tr>
					<tr>
						<td>Naam</td>
						<td>{{x.fname}} {{x.lname}}</td>
					</tr>
					<tr>
						<td>Adres</td>
						<td>{{x.comment}}</td>
					</tr>
					<tr>
						<td>Telefoon</td>
						<td>{{x.tel}}</td>
					</tr>
				</table>

			</div>
			<div class="small-12 columns">
				website: www.sayar.nl | email: info@sayar.nl
			</div>
		</div>
	</div>
	<!-- End RechstVoor -->
	
</div>

<a class="right button button-3d button-primary button-rounded printbutton" href="javascript:window.print()"> <i class="fa fa-print"></i> Print This Page</a>