<div id="tirelabels" class="small-12 columns" ng-repeat="x in banden">
	<!-- LinksVoor TEST -->
	<div class="small-6 columns">
		<div class="panel tirelabel">
			
			<div class="small-12 columns center">
				<h3>Klantgegevens<div class="right">id: {{x.id}}</div></h3>
			</div>
			<div class="small-3 columns">
				Naam:
			</div>
			<div class="small-9 columns">
				<h3>Sayar InCorp</h3>
			</div>
			
			<div class="small-3 columns">
				Kentekn:
			</div>
			<div class="small-9 columns">
				<h3>{{x.kenteken}}</h3>
			</div>

			<div class="small-3 columns">
				Merk:
			</div>
			<div class="small-9 columns">
				<h3>{{x.merk}}</h3>
			</div>
			<div class="clearfix"></div>
			
			<!-- Opslag -->
			<div class="small-12 columns center">
				<h3>Opslag</h3>
			</div>
			<div class="small-3 columns">
				Plaats:
			</div>
			<div class="small-9 columns">
				<h3>{{x.name}} > {{x.container_department}} > {{x.container_contents_id}} </h3>
			</div>
			<div class="small-3 columns">
				Sezoen:
			</div>
			<div class="small-9 columns">
				<h3>{{x.sezon}}</h3>
			</div>
			<div class="small-3 columns">
				Datum inname:
			</div>
			<div class="small-9 columns">
				<h3>{{x.start_date}}</h3>			
			</div>
			<!-- end Opslag -->
			
			<div class="clearfix"></div>
			
			<!-- bandgegevens -->
			<div class="small-12 columns center">
				<h3>Bandgegevens</h3>
			</div>
			<div class="small-3 columns">
				Band Merk
			</div>
			<div class="small-9 columns">
				<h3>{{x.RV_brand}}</h3>			
			</div>
			<div class="small-3 columns">
				Profiel
			</div>
			<div class="small-9 columns">
				<h3>{{x.RV_profile}}</h3>			
			</div>
			<!-- end bandgegevens -->

			<div class="clearfix"></div>

			<div class="small-8 columns">
				<h3> </h3>
			</div>
			<div class="small-4 columns">
				<h3>LINKSVOOR</h3>
			</div>
			<div class="small-12 columns labelfooter">
				website: www.sayar.nl | email: info@sayar.nl
			</div>
		</div>
	</div>
	<!-- End LinksVoor -->
	<!-- RechtsVoor -->
	<div class="small-6 columns">
		<div class="panel tirelabel">
			
			<div class="small-12 columns center">
				<h3>Klantgegevens<div class="right">id: {{x.id}}</div></h3>
			</div>
			<div class="small-3 columns">
				Naam:
			</div>
			<div class="small-9 columns">
				<h3>Sayar InCorp</h3>
			</div>
			
			<div class="small-3 columns">
				Kentekn:
			</div>
			<div class="small-9 columns">
				<h3>{{x.kenteken}}</h3>
			</div>

			<div class="small-3 columns">
				Merk:
			</div>
			<div class="small-9 columns">
				<h3>{{x.merk}}</h3>
			</div>
			<div class="clearfix"></div>
			
			<!-- Opslag -->
			<div class="small-12 columns center">
				<h3>Opslag</h3>
			</div>
			<div class="small-3 columns">
				Plaats:
			</div>
			<div class="small-9 columns">
				<h3>{{x.name}} > {{x.container_department}} > {{x.container_contents_id}} </h3>
			</div>
			<div class="small-3 columns">
				Sezoen:
			</div>
			<div class="small-9 columns">
				<h3>{{x.sezon}}</h3>
			</div>
			<div class="small-3 columns">
				Datum inname:
			</div>
			<div class="small-9 columns">
				<h3>{{x.start_date}}</h3>			
			</div>
			<!-- end Opslag -->
			
			<div class="clearfix"></div>
			
			<!-- bandgegevens -->
			<div class="small-12 columns center">
				<h3>Bandgegevens</h3>
			</div>
			<div class="small-3 columns">
				Band Merk
			</div>
			<div class="small-9 columns">
				<h3>{{x.LV_brand}}</h3>			
			</div>
			<div class="small-3 columns">
				Profiel
			</div>
			<div class="small-9 columns">
				<h3>{{x.LV_profile}}</h3>			
			</div>

			<!-- end bandgegevens -->

			<div class="clearfix"></div>

			<div class="small-8 columns">
				<h3> </h3>
			</div>
			<div class="small-4 columns">
				<h3>RECHTSVOOR</h3>
			</div>
			<div class="small-12 columns labelfooter">
				website: www.sayar.nl | email: info@sayar.nl
			</div>
		</div>
	</div>
	<!-- End RechstVoorTEST -->

	<!-- LinksAchter TEST -->
	<div class="small-6 columns">
		<div class="panel tirelabel">
			
			<div class="small-12 columns center">
				<h3>Klantgegevens<div class="right">id: {{x.id}}</div></h3>
			</div>
			<div class="small-3 columns">
				Naam:
			</div>
			<div class="small-9 columns">
				<h3>Sayar InCorp</h3>
			</div>
			
			<div class="small-3 columns">
				Kentekn:
			</div>
			<div class="small-9 columns">
				<h3>{{x.kenteken}}</h3>
			</div>

			<div class="small-3 columns">
				Merk:
			</div>
			<div class="small-9 columns">
				<h3>{{x.merk}}</h3>
			</div>
			<div class="clearfix"></div>
			
			<!-- Opslag -->
			<div class="small-12 columns center">
				<h3>Opslag</h3>
			</div>
			<div class="small-3 columns">
				Plaats:
			</div>
			<div class="small-9 columns">
				<h3>{{x.name}} > {{x.container_department}} > {{x.container_contents_id}} </h3>
			</div>
			<div class="small-3 columns">
				Sezoen:
			</div>
			<div class="small-9 columns">
				<h3>{{x.sezon}}</h3>
			</div>
			<div class="small-3 columns">
				Datum inname:
			</div>
			<div class="small-9 columns">
				<h3>{{x.start_date}}</h3>			
			</div>
			<!-- end Opslag -->
			
			<div class="clearfix"></div>
			
			<!-- bandgegevens -->
			<div class="small-12 columns center">
				<h3>Bandgegevens</h3>
			</div>
			<div class="small-3 columns">
				Band Merk
			</div>
			<div class="small-9 columns">
				<h3>{{x.LA_brand}}</h3>			
			</div>
			<div class="small-3 columns">
				Profiel
			</div>
			<div class="small-9 columns">
				<h3>{{x.LA_profile}}</h3>			
			</div>
			<!-- end bandgegevens -->

			<div class="clearfix"></div>

			<div class="small-8 columns">
				<h3> </h3>
			</div>
			<div class="small-4 columns">
				<h3>LINKSACHTER</h3>
			</div>
			<div class="small-12 columns labelfooter">
				website: www.sayar.nl | email: info@sayar.nl
			</div>
		</div>
	</div>
	<!-- End LinksAchter -->
	<!-- RechtsAchter -->
	<div class="small-6 columns">
		<div class="panel tirelabel">
			
			<div class="small-12 columns center">
				<h3>Klantgegevens<div class="right">id: {{x.id}}</div></h3>
			</div>
			<div class="small-3 columns">
				Naam:
			</div>
			<div class="small-9 columns">
				<h3>Sayar InCorp</h3>
			</div>
			
			<div class="small-3 columns">
				Kentekn:
			</div>
			<div class="small-9 columns">
				<h3>{{x.kenteken}}</h3>
			</div>

			<div class="small-3 columns">
				Merk:
			</div>
			<div class="small-9 columns">
				<h3>{{x.merk}}</h3>
			</div>
			<div class="clearfix"></div>
			
			<!-- Opslag -->
			<div class="small-12 columns center">
				<h3>Opslag</h3>
			</div>
			<div class="small-3 columns">
				Plaats:
			</div>
			<div class="small-9 columns">
				<h3>{{x.name}} > {{x.container_department}} > {{x.container_contents_id}} </h3>
			</div>
			<div class="small-3 columns">
				Sezoen:
			</div>
			<div class="small-9 columns">
				<h3>{{x.sezon}}</h3>
			</div>
			<div class="small-3 columns">
				Datum inname:
			</div>
			<div class="small-9 columns">
				<h3>{{x.start_date}}</h3>			
			</div>
			<!-- end Opslag -->
			
			<div class="clearfix"></div>
			
			<!-- bandgegevens -->
			<div class="small-12 columns center">
				<h3>Bandgegevens</h3>
			</div>
			<div class="small-3 columns">
				Band Merk
			</div>
			<div class="small-9 columns">
				<h3>{{x.RA_brand}}</h3>			
			</div>
			<div class="small-3 columns">
				Profiel
			</div>
			<div class="small-9 columns">
				<h3>{{x.RA_profile}}</h3>			
			</div>

			<!-- end bandgegevens -->

			<div class="clearfix"></div>

			<div class="small-8 columns">
				<h3> </h3>
			</div>
			<div class="small-4 columns">
				<h3>RECHTSACHTER</h3>
			</div>
			<div class="small-12 columns labelfooter">
				website: www.sayar.nl | email: info@sayar.nl
			</div>
		</div>
	</div>
	<!-- End RechstAchter -->


	
</div>

<a class="right button button-3d button-primary button-rounded printbutton" href="javascript:window.print()"> <i class="fa fa-print"></i> Print This Page</a>