<div class="small-12 columns">
	<h1>Users</h1>
	<div class="small-12 columns">
	
	<table>
		<tbody>
			<thead>
				<td>Naam</td>
				<td>Achternaam</td>
				<td>Gebruikersnaam</td>
				<td>Wachtwoord</td>
				<td>Status</td>
			</thead>
		</tbody>
		<tr>
			<td>Adem</td>
			<td>Ak</td>
			<td>adem.ak</td>
			<td>password123@</td>
			<td>Active</td>
		</tr>
		<tr>
			<td>Ibrahim</td>
			<td>Baksoy</td>
			<td>123ibo</td>
			<td>password123@</td>
			<td>oke</td>
		</tr>
		
	</table>
	</div>
</div>